{{ if ne .Site.Params.menu_style "" }}
<div role="navigation" aria-label="Main" class="sidebar">
{{ if eq .Site.Params.menu_style "open-menu" }}
{{- partial "menu/open-menu.html" . -}}
{{ else if eq .Site.Params.menu_style "slide-menu" }}
{{- partial "menu/slide-menu.html" . -}}
{{ end }}
<div class="sidebar-footer">
{{- partial "sidebar-footer.html" . -}}
</div>
</div>
{{ end }}
