<header>
<div style="float: right"><figure id="sh-landesbibliothek">
   <figcaption>Gefördert von der Landesbibliothek Schleswig-Holstein</figcaption>
<img src="/shb_logo.svg" width="293" height="40" loading="lazy" alt="Schleswig-Holsteinische Landesbibliothek" />
</figure>
</div>
<figure><img src="/lagsh.png" alt="LAG SH Logo" /></figure>
<h1> {{ .Site.Title }}</h1>
{{- with .Site.Params.version -}} 
 <span class="version">Version {{ . }}</span>
{{- end -}}
{{- with .Site.Params.github_repository -}}
<a href="{{ . }}" class="github"><i class="fab fa-github"></i></a>
{{- end -}}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{end}}
</header>
